{% extends 'flatpages/default.html' %}

{% block content %}
{{ flatpage.content }}
<hr>
<table style="height: 210px;" width="286">
<tbody>
<tr style="height: 56.2344px;">
<td style="width: 90.3438px; height: 56.2344px;"><strong>Hello World</strong></td>
<td style="width: 179.656px; height: 56.2344px;">
<h1><em>&nbsp; &nbsp; Hello Skillfactory</em></h1>
</td>
</tr>
<tr style="height: 28px;">
<td style="width: 90.3438px; height: 28px; text-align: left;"><em>My eyse are open</em></td>
<td style="width: 179.656px; height: 28px;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-wink.gif" alt="wink" />&nbsp;<sup>Пустая наверное останется</sup></td>
</tr>
</tbody>
</table>
{% endblock content %}