{% extends 'flatpages/default.html' %}

{% block content %}
{{ flatpage.content }}
{{ flatpage.content }}
<hr>
<p><span style="color: #000000;"><strong><span style="text-decoration: underline;"><em>+71233456789 - Наш Менеджер</em></span></strong><strong><span style="text-decoration: underline;"><em><br />+71233456789 - Наш Директор</em></span></strong></span></p>
<p><span style="color: #000000;"><strong><span style="text-decoration: underline;"><em>+71233456789 - Наш Менеджер</em></span></strong><strong><span style="text-decoration: underline;"><em><br />+71233456789 - Наш Директор</em></span></strong></span></p>
{% endblock content %}