{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
{{ flatpage.content }}
<hr>
<p><span style="text-decoration: underline;"><span style="color: #808000;"><em>Этот текст я решил попробывать прописать внутри кода</em></span></span></p>
<hr>
<p><strong><span style="text-decoration: underline; color: #000000;"><em><a href="https://html5-editor.net/">https://html5-editor.net/</a>&nbsp;припомощи того что было дано в материале решил всё расширить для эксперемента что б понять что и как заодно чуток подправить код что б было видно что вроде бы как разлбрался... была ла бы ещё табличка со значениями а то нам дают только линию как способ отделения допустим пунктир или штрих пунктир, да понимаю можно загуглить и тд, но лучше б это всё было в модуля для примера</em></span></strong></p>
{% endblock content %}
